<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>91450259811-l8n3gik5ndahchsf9p0sap5gac4h0t5s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.91450259811-l8n3gik5ndahchsf9p0sap5gac4h0t5s</string>
	<key>API_KEY</key>
	<string>AIzaSyDoyNf63QqnNVreYjWwtGcf0Ety4SiR62w</string>
	<key>GCM_SENDER_ID</key>
	<string>91450259811</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.helloworld</string>
	<key>PROJECT_ID</key>
	<string>fluttercrud-c4aa8</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttercrud-c4aa8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:91450259811:ios:2afc2cbb2b4b3171</string>
	<key>DATABASE_URL</key>
	<string>https://fluttercrud-c4aa8.firebaseio.com</string>
</dict>
</plist>